@font-face {
  font-family: "iconfont"; /* Project id 4553143 */
  src: url("iconfont.woff2?t=1716114716737") format("woff2"), url("iconfont.woff?t=1716114716737") format("woff"),
    url("iconfont.ttf?t=1716114716737") format("truetype");
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
  content: "\e616";
}

.icon-exitfullscreen:before {
  content: "\e607";
}

.icon-refresh-o:before {
  content: "\e732";
}

.icon-fullscreen:before {
  content: "\e731";
}

.icon-zhongyingwen:before {
  content: "\e601";
}

.icon-zhuti-04:before {
  content: "\e600";
}
